@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
  --breakpoint-xl: 321px;
}
@plugin "daisyui";

* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --angle: 0deg;
}

#nav-text a {
  font-size: 16px;
  font-weight: 500;
}

#nav-text a:hover {
  background: linear-gradient(to bottom left, #8b5cf6, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#nav-text a.active {
  background: linear-gradient(to bottom left, #8b5cf6, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dropdown-navbar li {
  font-size: 14px;
  cursor: pointer;
}

.dashboard-navigation {
  display: flex;
  padding: 8px 10px;
  flex-direction: column;
  gap: 16px;
}

.dashboard-navigation a.light {
  font-size: 14px;
  font-weight: 500;
  color: black;
  border: 1px solid transparent;
  padding: 4px 0 4px 8px;
  border-radius: 6px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom left, #8b5cf6, #d946ef) border-box;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  text-wrap: nowrap;
}

.dashboard-navigation a.dark {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 4px 0 4px 8px;
  border-radius: 6px;

  background: linear-gradient(#1d232a, #1d232a) padding-box,
    linear-gradient(to bottom left, #8b5cf6, #d946ef) border-box;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;

  text-wrap: nowrap;
}

.dashboard-navigation a.light {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 4px 0 4px 8px;
  border-radius: 6px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom left, #8b5cf6, #d946ef) border-box;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  text-wrap: nowrap;
}

.dashboard-navigation a.dark.active {
  background-image: linear-gradient(to bottom left, #8b5cf6, #d946ef);
  color: white;
  border: none;
}

.dashboard-navigation a.light.active {
  background-image: linear-gradient(to bottom left, #8b5cf6, #d946ef);
  color: white;
  border: none;
}

#camp-div div {
  width: 100%;
}

th, .gradient-text {
  background: linear-gradient(to bottom left, #8b5cf6, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 

 /* dynamic gradient border  */
.dynamic-gradient-border::after,
.dynamic-gradient-border::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 8px;
  background-image: conic-gradient(
    from var(--angle),
    #d946ef,
    transparent,
    transparent,
    #8b5cf6,
    transparent,
    transparent
  );
  z-index: -1;
  animation: 8s border-spin linear infinite;
}

.dynamic-gradient-border::before {
  filter: blur(0.5rem);
  opacity: 0.1px;
}

@keyframes border-spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.border-rounded-match {
  border-radius: calc(0.75rem - 4px) calc(0.75rem - 4px) 0 0;
}

.tr td {
  cursor: pointer;
}

#dashboard-menu {
  background-color: white;
  color: black;
  border-radius: 8px;
  border: 1px solid #d946ef;
  padding: 4px;
}

#dashboard-menu li {
  padding: 4px 0 4px 8px;
}

#camp-div input:focus,#appointment-date-button{
  outline: none;
}

/* bg-linear-to-bl from-violet-500 to-fuchsia-500 */

/* linear-gradient(to bottom left, #8b5cf6, #d946ef) */

/* <span className="loading text-white loading-dots loading-sm"></span> */
