@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Montserrat", sans-serif;
}

#nav-text a {
  font-size: 16px;
  font-weight: 500;
}

#nav-text a.active {
  color: #d946ef;
}

#dropdown-navbar li {
  font-size: 14px;
  cursor: pointer;
}

.dashboard-navigation {
  display: flex;
  padding: 8px 10px;
  flex-direction: column;
  gap: 16px;
}

.dashboard-navigation a.light {
  font-size: 14px;
  font-weight: 500;
  color: black;
  border: 1px solid transparent;
  padding: 4px 0 4px 8px;
  border-radius: 6px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom left, #8b5cf6, #d946ef) border-box;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  text-wrap: nowrap;
}

.dashboard-navigation a.dark {
  font-size: 14px;
  font-weight: 500;
  color: black;
  border: 1px solid transparent;
  padding: 4px 0 4px 8px;
  border-radius: 6px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom left, #8b5cf6, #d946ef) border-box;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  text-wrap: nowrap;
}

.dashboard-navigation a.light {
  font-size: 14px;
  font-weight: 500;
  color: black;
  border: 1px solid transparent;
  padding: 4px 0 4px 8px;
  border-radius: 6px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom left, #8b5cf6, #d946ef) border-box;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  text-wrap: nowrap;
}

.dashboard-navigation a.active {
  background-image: linear-gradient(to bottom left, #8b5cf6, #d946ef);
  color: white;
  border: none;
}

.dashboard-navigation a.active {
  background-image: linear-gradient(to bottom left, #8b5cf6, #d946ef);
  color: white;
  border: none;
}

#camp-div div {
  width: 100%;
}

.gradient-text {
  background: linear-gradient(to bottom left, #8b5cf6, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tr td {
  cursor: pointer;
}

#dashboard-menu {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #d946ef;
  padding: 4px;
}

#dashboard-menu li {
  padding: 4px 0 4px 8px;
}

/* bg-linear-to-bl from-violet-500 to-fuchsia-500 */

/* <span className="loading text-white loading-dots loading-sm"></span> */
